.container{
    
    padding-left: 0px;
    padding-right: 0px;
    position: relative;
}
.h2{
    width: 378px;
    height: 47px;
    margin-bottom: 0px;
    position: absolute;
    top:358px;
    left:200px;
}
.hero{
    color:white;
}
p1{
    font-size: 1rem;
}
.features{
    position:relative;
}
.main-features{
    position:absolute;
    top:7px;
    left:200px;
}
.btn-features1{
    position:absolute;
    top: 0px;
    left:966px;
}
.btn-features1{
    position:absolute;
    top: 0px;
    left:1115px;
}
